*{
    border: 0px;
    margin: 0px;

}

img{
    height: 25rem;
    width: 80%;
    margin-left: 6rem;
    padding: 10px;
    border-radius: 20px;
}

.intro{
    margin-left: 10rem;
    font-size: 2rem;
    font-weight: bold;
}

#footer{
    text-align: center;
}